<section class="w-100 h-100 flex flex-col justify-between md:flex-row md:px-12 lg:px-20 p-4 dark:bg-gray-800 transition duration-500">
  <div class="text-container md:mt-10 md:w-1/2 pt-20">
   
    <h1 class="text-2xl md:text-4xl text-black font-bold dark:text-white tracking-normal leading-10"><span class="text-tmk-blue text-red-500">OpenLearn </span>is a Opensource Education PlatForm</h1>

    <h2 class="text-gray-700 text-lg  font-extralight dark:text-white mt-8">
      It allows teachers to instruct without being concerned about platform costs!

      <span class="dark:text-red-500 text-blue-500 font-semibold ">One action</span>
      to start being productive
    </h2>

    <div class="flex mt-8 md:flex-row items-baseline space-x-4">
      <div class="flex -space-x-2">
        <a routerLink="https://twitter.com/kishoregunnam" class="">
          <img class="inline-block h-8 w-8 md:h-16 md:w-16 rounded-full object-cover ring-2 ring-white" src="https://picsum.photos/id/293/200/300" alt="Guy" />
        </a>
        <a routerLink="https://twitter.com/absphreak" class="">
          <img class="inline-block h-8 w-8 md:h-16 md:w-16 rounded-full object-cover ring-2 ring-white" src="https://picsum.photos/id/923/200/300" alt="Max" />
        </a>
        <a routerLink="https://twitter.com/mannupaaji" class="">
          <img class="inline-block h-8 w-8 md:h-16 md:w-16 rounded-full object-cover ring-2 ring-white" src="https://picsum.photos/id/112/200/300" alt="Charles" />
        </a>
      </div>
      <div>
        <h3 class="text-gray-700 md:text-lg font-bold dark:text-white mt-8">
          Founders
          <!-- <a routerLink="https://placeholdertech.in">PlaceholderTech</a> -->
        </h3>
      </div>
    </div>

  
  </div>
  <div class="image-container md:w-1/2 ">
      <img src="/assets/svgs/heroImage.svg" class="w-[100%]" alt="" srcset="">
  </div>
</section>